* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.main-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 50px;
  gap: 2rem;
}
.input {
  padding: 10px;
  text-decoration: none;
}
.input:focus {
  border: 2px solid blue !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#displayInput {
  width: 100%;
  height: 100px;
  word-wrap: break-word;
  padding: 0;
  overflow: hidden;
  word-wrap: break-word;
}
